@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corner-cutout-width: 1.41em;
  --corner-fold-width: 2em;
}

.flex-break {
  flex-basis: 100%;
}

.arrow-icon {
  -webkit-mask: linear-gradient(to right, #000, #0000);
  mask: linear-gradient(to right,#000, #0000);
}

.filter-yellow {
  filter: invert(87%) sepia(77%) saturate(6871%) hue-rotate(358deg) brightness(105%) contrast(101%);
}

.filter-gray {
  filter: invert(40%) sepia(4%) saturate(6%) hue-rotate(35deg) brightness(98%) contrast(91%);
}

.corner-cut-out {
  background: linear-gradient(225deg, transparent var(--corner-cutout-width), #fef3c7 0)
}

.corner-fold {
  top: 2px;
  right: 2px;
  width: calc(var(--corner-fold-width));
  height: calc(var(--corner-fold-width));
  background: linear-gradient(225deg, transparent var(--corner-cutout-width), #fde68a 0);
}

.btn-hidden {
  display: none;
}

.tooltip:hover .btn-hidden {
  display: block;
}